@using AppWeb.Components.Pages.Tags.Dialogs
@using AppWeb.Services
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService
@inject CookiesService CookiesService


<MudCard Class="col-sm-12 col-md-10 col-lg-10 mb-5" >
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Size="Size.Large">
                <MudImage Src="@($"{Const.url}/Doctypes/Avatars/{CurrentPost.User.Avatar}")" Alt="Avatar" 
                          Style="border-radius:50%; max-height:150px"></MudImage>
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudLink Href="@($"{Const.url}/User/{CurrentPost.User.UserId}")">
                <MudText Typo="Typo.h2">@CurrentPost.User.Name</MudText>
                <MudText Typo="Typo.h3">@CurrentPost.User.NickName</MudText>
            </MudLink>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudText Typo="Typo.h4">@CurrentPost.CreatedDate.ToShortDateString()</MudText>
            @{
                var icon = CurrentPost.Privacy switch
                {
                    PostPrivacy.p_public => @Icons.Material.Outlined.Public,
                    PostPrivacy.p_private => @Icons.Material.Filled.Lock,
                    PostPrivacy.p_only_friends => @Icons.Material.Filled.PeopleAlt,
                    _ => ""
                };
            }
            
            <MudIcon Icon="@icon"></MudIcon>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenDialogAsync">Share Post</MudButton>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.h4">@CurrentPost.Body</MudText>
        <section class="row g-3 p-3 justify-content-center">
            @foreach (var media in CurrentPost.files)
            {
                <div class="col-sm-12 @(CurrentPost.files.Count == 1 ? "col-md-10 col-lg-8": "col-md-6 col-lg-4") mb-2">
                    @if (media.fileType.Split('/')[0] == "video")
                    {
                        <video class='same-size rounded-5' controls>
                            <source src='@Const.url/Doctypes/@media.uri' type="@media.fileType">
                        </video>
                    }
                    else
                    {
                        <img loading='lazy' class='same-size rounded-5' src='@Const.url/Doctypes/@media.uri' alt='Image' />
                    }
                </div>
            }
        </section>

    </MudCardContent>
    <MudCardContent>
        <Comment post="CurrentPost" CurrentUser="CurrentUser" />
    </MudCardContent>
</MudCard>




@code {
    [Parameter]
    public required DbContext.Models.Post CurrentPost { get; set; }
    [Parameter]
    public required User CurrentUser { get; set; }

    public void OpenDialogAsync()
    {
        DialogService.Show<ShareDialog>("Share Post", 
        new DialogParameters { { "Title", "Share post" },
        {"Content", $"{Const.url}/post?id={CurrentPost.PostId}"} });
    }
}
