@if(CurrentPost != null)
{

    <div class="col-auto col-md-10 mb-5">
        <article class="card text-white bg-dark rounded-5" s>
            <header class="card-header row">
                <p class='col-10 text-left'>@CurrentPost.Body</p>
                <div class='col-auto p-3 text-center'>
                    <time datetime='@CurrentPost.CreatedDate' data-toggle='tooltip' title='@CurrentPost.CreatedDate'>
                        @CurrentPost.CreatedDate.ToShortDateString()
                    </time>
                    @{
                        string pri = "";
                        switch (CurrentPost.Privacy)
                        {
                            case PostPrivacy.p_public:
                                pri = "bi bi-globe";
                                break;
                            case PostPrivacy.p_private:
                                pri = "bi bi-lock-fill";
                                break;
                            case PostPrivacy.p_only_friends:
                                pri = "bi bi-people";
                                break;
                        }
                    }
                    <i class='@pri'></i>
                </div>
            </header>
            
            <section class='row g-3 p-3 justify-content-center'>
                @foreach (var media in CurrentPost.files)
                {
                    <div class="col-6 mb-2">
                        @if (media.fileType.Split('/')[0] == "video")
                        {
                            <video class='same-size rounded-5' controls>
                                <source src='Doctypes/@media.uri' type="@media.fileType">
                            </video>
                        }
                        else
                        {
                            <img loading='lazy' class='same-size rounded-5' src='Doctypes/@media.uri' alt='Image' />
                        }
                    </div>
                }
            </section>
        </article>
        <div class="p-3 mt-3">
            <Comment post="CurrentPost" CurrentUser="CurrentUser"/>
        </div>
    </div>
}

@code {
    [Parameter]
    public DbContext.Models.Post? CurrentPost { get; set; }
    [Parameter]
    public required User CurrentUser { get; set; }
}
